<form class="was-validated" [formGroup]="form">
  <div class="container">
    <h2>Meus Leilões</h2>
    <br>
    <div class="row">
      <table class="table table-sm table-hover" id="leiloesUser">
        <tr>
          <th *ngFor="let col of columns">
            {{col}}
          </th>
        </tr>
        <tr *ngFor="let item of itemLeilaoList">
          <td *ngFor="let col of index">
            {{item[col]}}
          </td>
          <td>
            <button type="button" class="btn btn-success" (click)="edit(item)"><i class="fa fa-edit"></i></button>
            <button type="button" class="btn btn-danger" (click)="delete(item)"><i class="fa fa-trash"></i></button>
          </td>
        </tr>
      </table>
    </div>
    <br>
    <h2>Editar Leilão</h2>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="nomeLeilao">Nome do Leilão</label>
          <input type="text" class="form-control" id="nomeLeilao" formControlName="nome_leilao" maxlength="100"
            required>
          <div class="invalid-feedback">
            Favor informar o nome do Leilão!
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="valorInicial">Valor inicial</label>
          <input type="number" class="form-control" formControlName="valor_inicial" required>
          <div class="invalid-feedback">
            Favor informar o valor inicial do Leilão!
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <legend class="col-form-label">O item a ser leiloado é novo ou usado?</legend>
        <div class="custom-control custom-radio">
          <input class="custom-control-input" formControlName="item_usado" type="radio" id="novo" name="item_usado"
            value="novo" required>
          <label class="custom-control-label" for="novo"><small>Novo</small></label>
        </div>
        <div class="custom-control custom-radio">
          <input class="custom-control-input" formControlName="item_usado" type="radio" id="usado" name="item_usado"
            value="usado" required>
          <label class="custom-control-label" for="usado"><small>Usado</small></label>
          <div class="invalid-feedback">
            Favor informar se o item é novo ou usado!
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="dataInicial">Data inicial do Leilão</label>
          <input type="datetime-local" class="form-control" id="dataInicial" formControlName="data_inicio" required>
          <div class="invalid-feedback">
            Favor informar a data inicial do Leilão!
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="dataFinal">Data final do Leilão</label>
          <input type="datetime-local" class="form-control md-2" id="dataFinal" formControlName="data_fim" required>
          <div class="invalid-feedback">
            Favor informar a data final do Leilão!
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="usuario">Usuário responsável: </label>
          <i>{{user.name}}</i>
        </div>
      </div>
    </div>

    <div class="row">
      <button class="btn btn-success btn-sm pt-0" type="submit" (click)="update()" [disabled]="form.invalid"><i
          class="fa fa-floppy-o"></i>Salvar</button>

      <button class="btn btn-secondary btn-sm" style="padding-right: 30px;" type="button" (click)="cancel()"
        [disabled]="form.invalid"><i class="fa fa-times"></i>Cancelar</button>
    </div>
    <br>
  </div>
</form>
